@import "~src/styles/common/variables";

.btn {
  &-primary {
    color: #fff;
    background-color: $primary;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    border-color: transparent;

    &:focus, &:active:focus {
      background-color: $primary;
      border-color: transparent;
      box-shadow: 0 0 0 0.25rem rgb(91 215 89 / 23%);
    }

    &:hover {
      border-color: transparent;
      background-color: #56d354;
    }
  }
}
