<h4 class="text-primary mb-4">Descripción:</h4>

<div class="details-description">
  <span [innerHtml]="property.description"></span>
</div>

<hr>

<h4 class="text-primary mb-4">Detalles de propiedad:</h4>

<div class="row mx-0 px-5 details">
  <ul class="nav col-md-4 flex-column">
    <li class="nav-item">
      <i class="las la-building"></i>
      <h5 class="fw-light">Tipo de propiedad<br>
        <small class="fw-semibold">{{property.features.propertyType}}</small>
      </h5>
    </li>

    <li class="nav-item">
      <i class="las la-car"></i>
      <h5 class="fw-light">Cochera <br>
        <small class="fw-semibold">{{property.features.garage}}</small>
      </h5>
    </li>

    <li class="nav-item">
      <i class="las la-snowflake"></i>
      <h5 class="fw-light">Aire acondicionado<br>
        <small class="fw-semibold">{{property.features.airConditioner|yesOrNo}}</small>
      </h5>
    </li>

    <li class="nav-item">
      <i class="las la-broom"></i>
      <h5 class="fw-light">Cuarto de servicio<br>
        <small class="fw-semibold">{{property.features.serviceRoom|yesOrNo}}</small>
      </h5>
    </li>
  </ul>

  <ul class="nav col-md-4 flex-column">
    <li class="nav-item">
      <i class="las la-broom"></i>
      <h5 class="fw-light">Niveles<br>
        <small class="fw-semibold">{{property.features.levels}}</small>
      </h5>
    </li>

    <li class="nav-item">
      <i class="las la-bed"></i>
      <h5 class="fw-light">Habitaciones<br>
        <small class="fw-semibold">{{property.features.rooms}}</small>
      </h5>
    </li>

    <li class="nav-item">
      <i class="las la-umbrella"></i>
      <h5 class="fw-light">Terraza<br>
        <small class="fw-semibold">{{property.features.terrace|yesOrNo}}</small>
      </h5>
    </li>

    <li class="nav-item">
      <i class="las la-boxes"></i>
      <h5 class="fw-light">Bodega<br>
        <small class="fw-semibold">{{property.features.warehouse|yesOrNo}}</small>
      </h5>
    </li>
  </ul>

  <ul class="nav col-md-4 flex-column">
    <li class="nav-item">
      <i class="las la-ruler-combined"></i>
      <h5 class="fw-light">Tamaño de lote<br>
        <small class="fw-semibold">{{property.features.lotSize}}</small>
      </h5>
    </li>

    <li class="nav-item">
      <i class="las la-bath"></i>
      <h5 class="fw-light">Baños<br>
        <small class="fw-semibold">{{property.features.bathrooms}}</small>
      </h5>
    </li>

    <li class="nav-item">
      <i class="las la-seedling"></i>
      <h5 class="fw-light">Jardin<br>
        <small class="fw-semibold">{{property.features.garden|yesOrNo}}</small>
      </h5>
    </li>

    <li class="nav-item">
      <i class="las la-shield-alt"></i>
      <h5 class="fw-light">Seguridad<br>
        <small class="fw-semibold">{{property.features.security|yesOrNo}}</small>
      </h5>
    </li>
  </ul>
</div>

<hr>

<div class="details-footer">
  <btn-primary [label]="'Ver siguiente'" (click)="next()"></btn-primary>
</div>

