<ng-container *ngIf="property$ | async as property">
  <nav-taps>
    <ng-template navTapItem="Photo">
      <carrousel [images]="property._id | imagesAsync"></carrousel>
    </ng-template>

    <ng-template navTapItem="Mapa">
      <google-map [location]="property.location"></google-map>
    </ng-template>
  </nav-taps>

  <div class="row p-4">
    <div class="col-md-6">
      <h5 class="text-primary">{{property.title}}</h5>
      <small class="text-muted">{{property.address}}</small>
    </div>

    <div class="col-md-3">
      <google-map [location]="property.location" [size]="8" [rounded]="true"></google-map>
    </div>

    <div class="col-md-3 d-flex">
      <h2 class="my-auto">{{property.price | currency:property.currency }}</h2>
    </div>
  </div>

  <property-details [property]="property"></property-details>
</ng-container>
